html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #2de3e3;
}
#game {
    display: block;
}
canvas {
    background-color: #ffffff;
}
